{% load socialaccount %}

<h1>Homepage</h1>
<h2>Django All Auth</h2>
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'account_logout' %}">Logout</a></p>
    {% if user.password %}
        <p><a href="{% url 'account_change_password' %}">Change password</a></p>
    {% else %}
        <p><a href="{% url 'account_set_password' %}">Set password</a></p>
    {% endif %}
{% else %}
    <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
    <p><a href="{% url 'account_login' %}">Log In</a></p>
    <p><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>
    <p><a href="{% provider_login_url 'google' %}">Log In with Google</a></p>
    <p><a href="{% provider_login_url 'github' %}">Log In with GitHub</a></p>

{% endif %}